@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    background-image: url("assets/beleza-defocus-foco-flora-branco.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
li, a, button {
    font-family:"DM Serif Text", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: aliceblue;
    text-decoration: none;
}
header {
    background-color: #043915;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 10%;

}
.logo{
    cursor: pointer;
    width: 200px;
    margin-right: auto;
    margin-left: 0px;
}
.nav_links{
    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
} 

.nav_links li a{
    transition: all 0.3s ease 0s;
} 

.nav_links li a:hover{
    color:forestgreen;
} 
button{
    margin-left: 20px;
    padding: 9px 25px;
    background-color:#FFFD8F ;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #043915
}
button:hover{
    background-color:darkkhaki;

}
.parent {
    
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.45);
    margin-top: 4%;
    align-self:center;
    background-color:#B0CE88;
    width: 60%;
    height: 1000px;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.child{
    cursor: pointer;
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.25);
    border-radius: 20px ;
    margin-top: 100px;
    background-color:#4C763B;
    width: 80%;
    height:200px;
    margin-bottom: 10px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    animation: fade-up 2s;
    display: flex;
    flex-direction: row;
}


/*aqui vem os css da pagina SOBRE*/
.child:hover {
    transform: translateY(-8px) scale(1.05);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.25);
}
.ian:hover {
    transform: translateY(-8px) scale(1.05);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.25);
}
.ian2:hover {
    transform: translateY(-8px) scale(1.05);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.25);
}
.ian3:hover {
    transform: translateY(-8px) scale(1.05);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.25);
}
.titulo{
    font-family: "DM Serif Text", sans-serif; /* Pega a fonte certa */
    color:#043915; 
    font-size: 82px; /* Aumenta o tamanho */
    text-align: center; /* Garante que o texto fique no meio horizontalmente */
    animation: fade-up 1s;
}
.paragrafo{
    font-family: "DM Serif Text", sans-serif; /* Pega a fonte certa */
    color:#043915; 
    font-size: 22px; /* Aumenta o tamanho */
    text-align: center; /* Garante que o texto fique no meio horizontalmente */
    width: 80%;
    margin-top: 30px;
    animation: fade-up 4s;
    text-shadow: 1px 4px 18px rgb(0, 57, 0);
}

.paragraf{
    font-family: "DM Serif Text", sans-serif; /* Pega a fonte certa */
    color:#043915; 
    font-size: 22px; /* Aumenta o tamanho */
    text-align: center; /* Garante que o texto fique no meio horizontalmente */
    width: 80%;
    margin-top: 30px;
    animation: fade-up 2s;
    
}
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.ian{
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.25);
    border-radius: 20px ;
    margin-top: 50px;
    background-color:#4C763B;
    width: 40%;
    height:300px;
    margin-bottom: 10px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    animation: fade-up 2s;
    align-self: flex-start;
    margin-left: 50px;
    display: flex;
    align-items: center;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}
.ian2{
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.25);
    border-radius: 20px ;
    margin-top: 50px;
    background-color:#4C763B;
    width: 40%;
    height:300px;
    margin-bottom: 10px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    animation: fade-up 2s;
    align-self: flex-end;
    margin-left: 50px;
    display: flex;
    align-items: center;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}
.ian3{
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.25);
    border-radius: 20px ;
    margin-top: 50px;
    background-color:#4C763B;
    width: 40%;
    height:300px;
    margin-bottom: 10px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    animation: fade-up 2s;
    align-self: center;
    display: flex;
    align-items: center;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}
.ian4{
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.25);
    border-radius: 20px ;
    margin-top: 50px;
    background-color:#4C763B;
    width: 40%;
    height:80%;
    margin-bottom: 40px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    animation: fade-up 2s;
    align-self: center;
    display: flex;
    align-items: center;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    margin-left: 30px;
}
.ian5{
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.25);
    border-radius: 20px ;
    margin-top: 20px;
    background-color:#4C763B;
    width: 30%;
    height:80%;
    margin-bottom: 40px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    animation: fade-up 2s;
    display: flex;
    align-self: flex-start;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    margin-right: 30px;
    
}
.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}
.container2{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: auto;
    align-content: flex-start;
}

@keyframes spin {
  from { translate: 0; }
  to { translate: -100%; }
}

.textou{

    font-family: "DM Serif Text", sans-serif; /* Pega a fonte certa */
    color:#FFFD8F; 
    font-size: 16px; /* Aumenta o tamanho */
    text-align: center; /* Garante que o texto fique no meio horizontalmente */
    width: 80%;
    margin-top: 30px;
    animation: fade-up 4s;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 1);
}
.textou2{

    font-family: "DM Serif Text", sans-serif; /* Pega a fonte certa */
    color:#FFFD8F; 
    font-size: 16px; /* Aumenta o tamanho */
    text-align: center; /* Garante que o texto fique no meio horizontalmente */
    width: 80%;
    margin-top: 30px;
    animation: fade-up 4s;
    margin-left: 30px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 1);
}

/*como pescar*/

.baby{
    cursor: pointer;
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.25);
    border-radius: 20px ;
    margin-top: 50px;
    background-color:#4C763B;
    width: 40%;
    height:100px;
    margin-bottom: 10px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    animation: fade-up 2s;
    align-self: flex-start;
    margin-left: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.baby2{
    cursor: pointer;
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.25);
    border-radius: 20px ;
    margin-top: 50px;
    background-color:#4C763B;
    width: 40%;
    height:100px;
    margin-bottom: 10px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    animation: fade-up 2s;
    align-self: center;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*login*/

.tio {
    
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.45);
    margin-top: 4%;
    align-self:center;
    background-color:#B0CE88;
    width: 40%;
    height: 500px;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.primo{
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.25);
    border-radius: 20px ;
    margin-top: 50px;
    background-color:#4C763B;
    width: 60%;
    height:60%;
    margin-bottom: 10px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    animation: fade-up 2s;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo2{
    font-family: "DM Serif Text", sans-serif; /* Pega a fonte certa */
    color:#FFFD8F;
    margin-top: 10px;
    font-size: 22px; /* Aumenta o tamanho */
    text-align: center; /* Garante que o texto fique no meio horizontalmente */
    animation: fade-up 1s;
}
.paragrafo2{
    font-family: "DM Serif Text", sans-serif; /* Pega a fonte certa */
    color:#B0CE88; 
    font-size: 15px; /* Aumenta o tamanho */
    text-align: center; /* Garante que o texto fique no meio horizontalmente */
    margin-top: 10px;
    animation: fade-up 2s;}

.campo{
    width: 80%;
  padding: 12px;
  font-size: 16px;
  color:#B0CE88;
  background:#043915;
  border-radius: 10px;
  outline: none;
  align-self: center;
  margin-top: 30px;
  margin-bottom: 15px;
}
.inputee{
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    animation: fade-up 2s;
}

.button2{
    margin-left: 0;
    padding: 9px 25px;
    background-color:#FFFD8F ;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #043915;
    align-self: center;
}

/*como pescar oloco tá acabando*/

.container3{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.ian6{
    border-radius: 20px ;
    margin-top: 50px;
    width: 60px;
    height:60px;
    margin-bottom: 50px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    animation: fade-up 2s;
    align-self: center;
    display: flex;
    align-items: center;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    margin-left: 20px;
}

.textou2{
    font-family: "DM Serif Text", sans-serif; /* Pega a fonte certa */
    color:#FFFD8F; 
    font-size: 15px; /* Aumenta o tamanho */
    text-align: center; /* Garante que o texto fique no meio horizontalmente */
    width: 80%;
    margin-top: 30px;
    animation: fade-up 4s;
    margin-left: 10px;
    /*sombra placebo boy*/
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.textou10{
    font-family: "DM Serif Text", sans-serif; /* Pega a fonte certa */
    color:#FFFD8F; 
    font-size: 15px; /* Aumenta o tamanho */
    text-align: center; /* Garante que o texto fique no meio horizontalmente */
    width: 80%;
    margin-top: 50px;
    animation: fade-up 4s;
    margin-left: 10px;
    /*sombra placebo boy*/
    
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 1);
}

.titulo3{
    font-family: "DM Serif Text", sans-serif; /* Pega a fonte certa */
    color:#043915;
    font-size: 42px; /* Aumenta o tamanho */
    text-align: center; /* Garante que o texto fique no meio horizontalmente */
    animation: fade-up 1s;
    align-self: center;
    margin-left: 90px;
}

.container4{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
}

.paragrafo3{
    font-family: "DM Serif Text", sans-serif; /* Pega a fonte certa */
    color:#043915; 
    font-size: 19px; /* Aumenta o tamanho */
    text-align: center; /* Garante que o texto fique no meio horizontalmente */
    width: 80%;
    margin-top: 20px;
    animation: fade-up 4s;
}