@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    background-image: url("assets/beleza-defocus-foco-flora-branco.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
li, a, button {
    font-family:"DM Serif Text", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: aliceblue;
    text-decoration: none;
}
header {
    background-color: darkolivegreen;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 10%;

}
.logo{
    cursor: pointer;
    width: 200px;
    margin-right: auto;
    margin-left: 0px;
}
.nav_links{
    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
} 

.nav_links li a{
    transition: all 0.3s ease 0s;
} 

.nav_links li a:hover{
    color:forestgreen;
} 
button{
    margin-left: 20px;
    padding: 9px 25px;
    background-color:forestgreen ;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color:darkkhaki;

}